<div id="blue" class="block blue">
    <nav class="pushpin-demo-nav" data-target="blue">
        <div class="nav-wrapper light-blue">
            <div class="container">
                <a href="#" class="brand-logo">Lucene Lanches</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/orders?lang=pt">PT</a></li>
                    <li><a href="/orders?lang=en">EN</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>