<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="fragments/header"/>
</head>
<body>
	<div th:replace="fragments/navigation"/>
	<div class="container">
		<div class="card">
			<div class="card-content">
				<div class="row">
					<div class="col s5">
						<div class="row">
							<div class="col s12 input-field">
								<div class="chip">
									<span th:text="#{label.hello}"></span> <span th:text="${request.name}"></span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col s12 input-field">
								<p><span th:text="#{static.total_value}"></span> <span th:text="${request.totalPrice}"></span></p>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<span th:text="#{label.payment_method}"></span>
							</div>
							<div class="input-field col s4 left">
								<input name="payment" type="radio" value="credito" id="credito" />
								<label for="credito" th:text="#{label.credit}"></label>
							</div>
							<div class="input-field col s4 center">
								<input name="payment" type="radio" value="debito" id="debito" />
								<label for="debito" th:text="#{label.debit}"></label>
							</div>
							<div class="input-field col s4 center">
								<input name="payment" type="radio" value="dinheiro" id="dinheiro" />
								<label for="dinheiro" th:text="#{label.money}"></label>
							</div>
						</div>
						<br/><br/>
						<div class="row">
							<div class="input-field col s4">
								<span th:text="#{label.need_change}"></span>
							</div>
							<div class="input-field col s4 center">
								<input name="change" type="radio" value="sim" id="sim" />
								<label for="sim" th:text="#{label.yes}"></label>
							</div>
							<div class="input-field col s4 center">
								<input name="change" type="radio" value="nao" id="nao" />
								<label for="nao" th:text="#{label.no}"></label>
							</div>
						</div>
					</div>
					<div class="col s1">

					</div>
					<div class="col s6">
						<div class="card">
							<div class="card-content">
								<span class="card-title" th:text="#{label.progress_order}"></span>
								<div class="row">
									<div class="col s12 calculator-message">
										<small th:text="#{static.calculator}"></small>
										<br/><br/><br/>
									</div>
								</div>
								<div class="row">
									<div class="col s6">
										<p th:text="#{label.order_value}"></p>
									</div>
									<div class="col s6">
										<input type="number" id="request-price" name="request-price" th:value="${request.totalPrice}" disabled="disabled" />
									</div>
								</div>
								<div class="row">
									<div class="col s6">
										<p th:text="#{label.amount_people}"></p>
									</div>
									<div class="col s6">
										<input type="number" id="amount-of-people" name="amount-of-people" />
									</div>
								</div>
								<div class="row">
									<div class="col s6">
										<p th:text="#{label.value_per_person}"></p>
									</div>
									<div class="col s6">
										<input type="number" id="value-per-person" name="value-per-person" value="0.00" disabled="disabled" />
									</div>
								</div>
								<br/><br/><br/>
								<div class="row">
									<div class="col s12 people-container">

										<div class="row">
											<div class="col s4">
											</div>
											<div class="col s4 center-align">
												<span th:text="#{label.value}"></span>
											</div>
											<div class="col s4 center-align">
												<span th:text="#{label.%}"></span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer"/>
	<script src="/js/finish.request.js"></script>
</body>
</html>
