<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/header"/>
</head>

<body>
	<div th:replace="fragments/navigation"/>
	<div class="container">
		<div class="row">
			<div class="col s6">
				<div class="row">
					<form id="snack-form" action="orders" class="col s12">
						<div class="row">
							<div class="input-field col s12">
								<input id="name" type="text" class="validate"></input>
								<label for="name" data-error="Este campo é obrigatório" th:text="#{label.name}"></label>
							</div>

						</div>
						<div class="row">
							<div class="input-field col s12">
								<input id="address" type="text" class="validate"></input>
								<label for="address" data-error="Este campo é obrigatório" th:text="#{label.address}"></label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s3">
								<label th:text="#{label.list_of_snacks}"></label>
							</div>

							<div class="input-field col s9">
								<select name="snacks-types" id="snacks-types">
									<option>Selecione</option>
						    	</select>
							</div>
						</div>

						<div class="card">
							<div class="card-content">
								<div class="row">
									<div class="input-field col s3">
										<label th:text="#{label.type_of_bread}"></label>
									</div>

									<div class="input-field col s9">

										<select name="type-of-bread" id="type-of-bread">
									<option>Selecione</option>
							    </select>
									</div>

									<div class="input-field col s3">
										<label th:text="#{label.cheese}"></label>
									</div>
									<div class="input-field col s7">
										<select name="cheese" id="cheese">
									<option>Selecione</option>
							    </select>
									</div>
									<div class="switch input-field col s2">
										<label>
							    	<span th:text="#{label.double}"></span>
							      	<input type="checkbox" id="double-cheese"/>
							      	<span class="lever"></span>
							    </label>
									</div>
									<div class="input-field col s3">
										<label th:text="#{label.filling}"></label>
									</div>
									<div class="input-field col s7">
										<select name="filling" id="filling">
									<option>Selecione</option>
							    </select>
									</div>
									<div class="switch input-field col s2">
										<label>
							    	<span th:text="#{label.double}"></span>
							      	<input type="checkbox" id="double-filling"/>
							      	<span class="lever"></span>
							    </label>
									</div>
								</div>
							</div>
						</div>

						<div class="card">
							<div class="card-content checks-and-radios">
								<div class="row salads-conteiner">
									<div class="input-field col s2">
										<label th:text="#{label.salad}"></label>
									</div>
								</div>

								<div class="row sauces-container">
									<div class="input-field col s2">
										<label th:text="#{label.sauces}"></label>
									</div>
								</div>


								<div class="row spices-container">
									<div class="input-field col s2">
										<label th:text="#{label.spices}"></label>
									</div>
								</div>


							</div>
						</div>

						<div class="row">
							<div class="input-field col s12 ">
								<button class="btn right btn-price light-blue" id="btn-snack-price">R$ 0,00</button>
							</div>
						</div>

						<div class="row">
							<div class="input-field col s6 ">
								<a class="waves-effect waves-light btn btn-save right light-blue"><i class="material-icons left">add</i><span th:text="#{button.save}"></span></a>
							</div>
                            <div class="input-field col s6 ">
                                <a class="waves-effect waves-light btn btn-finish right light-blue"><i class="material-icons left">check</i><span th:text="#{button.finish}"></span></a>
                            </div>
						</div>

					</form>
				</div>
			</div>
			<div class="col s1">
			</div>
			<div class="col s5">
				<div class="card calc-card">
					<div class="card-content">
						<span class="card-title" th:text="#{static.snack_list}"></span>
						<div class="row">
							<div class="col s12">
							</div>
						</div>
						<div class="row">
							<form id="request-form" method="post" class="col s12">
								<ul class="collection" id="snacks-container">
								</ul>
								<input type="hidden" name="request-size" id="request-size" />
							</form>
						</div>
						<div class="row">
							<div class="input-field col s12 ">
								<button class="btn btn-finish btn-price right light-blue" id="btn-request-price">R$ 0,00</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <div th:replace="fragments/footer"/>
	<script src="/js/request.js"></script>
</body>

</html>
